[project]
authors = ["Gabriel S. Gerlero <ggerlero@cimec.unl.edu.ar>"]
channels = ["conda-forge"]
description = "Native OpenFOAM for macOS"
name = "openfoam-app"
platforms = ["osx-arm64", "osx-64"]

[system-requirements]
macos = "11"

[tasks]

[dependencies]
pixi-pack = ">=0.1.8"
pytest = ">=7,<7.3"
pytest-asyncio-cooperative = ">=0.37.0"
foamlib = ">=0.6.0"

[feature.openfoam.dependencies]
llvm-openmp = ">=19.1.1"
openmpi = ">=5.0.5"
fftw = ">=3.3.10"
scotch = ">=7.0.5"
cgal-cpp = ">=5.6.1,<6"
bash = ">=5.2.21"

[environments]
openfoam = {features = ["openfoam"], no-default-feature = true}
