name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      app-version:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      cache-build:
        type: boolean
        default: true
        required: false
        description: Cache build artifacts for later reuse

jobs:
  ci:
    strategy:
      matrix:
        arch: [arm64, x86_64]
        openfoam-version: [2506, 2412]
      fail-fast: false
    uses: ./.github/workflows/build-test.yml
    with:
      arch: ${{ matrix.arch }}
      openfoam-version: ${{ matrix.openfoam-version }}
      app-version: ${{ inputs.app-version }}
      cache-build: ${{ github.event_name == 'workflow_dispatch' && inputs.cache-build || github.event_name != 'workflow_dispatch' }}
