name: OpenFOAM development branches

on:
  schedule:
    - cron: '0 6 * * 5'
  workflow_dispatch:

jobs:
  openfoam-dev-branch:
    strategy:
      matrix:
        arch: [arm64, x86_64]
        openfoam-git-branch: [master, develop]
      fail-fast: false
    uses: ./.github/workflows/build-test.yml
    with:
      arch: ${{ matrix.arch }}
      app-name: OpenFOAM-${{ matrix.openfoam-git-branch }}
      app-version: ${{ matrix.openfoam-git-branch }}
      openfoam-git-branch: ${{ matrix.openfoam-git-branch }}
      cache-build: false
