name: OpenFOAM development branches

on:
  schedule:
    - cron: '0 6 * * 5'
  workflow_dispatch:

jobs:
  openfoam-dev-branch:
    strategy:
      matrix:
        build-os: [macos-14, macos-12]
        openfoam-git-branch: [master, develop]
      fail-fast: false
    uses: ./.github/workflows/build-test.yml
    with:
      build-os: ${{ matrix.build-os }}
      app-name: OpenFOAM-${{ matrix.openfoam-git-branch }}
      app-version: ${{ matrix.openfoam-git-branch }}
      openfoam-git-branch: ${{ matrix.openfoam-git-branch }}
      cache-build: false
