name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  get-version:
    name: Get app version
    runs-on: ubuntu-latest
    outputs:
      app-version: ${{ steps.get_version.outputs.version-without-v }}
    steps:
      - name: Extract version from release tag
        id: get_version
        uses: battila7/get-version-action@v2

  openfoam2206:
    needs: get-version
    name: OpenFOAM-v2206.app
    uses: ./.github/workflows/build-test.yml
    with:
      openfoam-version: 2206
      app-version: ${{ needs.get-version.outputs.app-version }}
      release: true

  openfoam2112:
    needs: get-version
    name: OpenFOAM-v2112.app
    uses: ./.github/workflows/build-test.yml
    with:
      openfoam-version: 2112
      app-version: ${{ needs.get-version.outputs.app-version }}
      release: true
